.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.progress-done {
	background: linear-gradient(to left,#09795f,#11d4a7);
	box-shadow: 0 3px 3px -5px#09795f, 0 2px 5px #06503f;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.service {
	margin: 0.5rem 0;
	text-align: center;
	img{
	  max-height: 100px;
	}
	h4{
	  font-size:1.2rem;
	}
  }
  .service h4 {
	text-transform: uppercase;
  }