.customUpper{
    position: absolute;
    right: 25px;
    top: 5px;
}
.nav-social-links {
    display: none;
  }
  @media screen and (min-width: 992px) {
    .nav-social-links {
      display: flex;
      line-height: 0;
      justify-self: end;
    }
    .nav-social-links a {
      color: #679436;
      margin: 0 0.5rem;
      font-size: 1.2rem;
      transition: var(--mainTransition);
    }
    .nav-social-links a:hover {
      opacity: 0.8;
      transform: scale(1.2);
      transition: all 0.3s ease-in;
    }
  }
  